<%- include("a-partials/a-header") -%>


<div class="row">
    <div class="col-lg-2  col-md-3 sidebar">
        <h2>Election Management System</h2>
        <div>
            <a href="/admin">
                <h5>Dashboard</h5>
            </a>
            <a href="/admin/election">
                <h5>Election</h5>
            </a>
            <a href="/admin/users">
                <h5 class="active">Users</h5>
            </a>
            <a href="">
                <h5>Party</h5>
            </a>
            <a href="">
                <h5>Result</h5>
            </a>
            <a href="/login">
                <h5>Logout</h5>
            </a>
        </div>

    </div>
    <div class="col-lg-10 col-md-9 bar content">
        <table>
            <tr>
                <td>ID______:</td>
                <td><%- user.id %></td>
            </tr>
            <tr>
                <td>FirstNAME______:</td>
                <td><%- user.fname %></td>
            </tr>
            <tr>
                <td>LastNAME______:</td>
                <td><%- user.lname %></td>
            </tr>
            <tr>
                <td>Gender______:</td>
                <td><%- user.sex %></td>
            </tr>
        </table>
        <form action="/admin/users/delete" method="post">
            <input type="hidden" name="user_id" value="<%- user.id %> ">
            <input type="submit" value="Delete this candidate">
        </form>
        
    </div>
</div>



<%- include("a-partials/a-footer") -%>