<%- include("../a-partials/a-header") -%>
<link rel="stylesheet" href="/css/admin/viewUser.css">

</head>
<body>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar" id="sticky-sidebar">
    <div class="sticky-top">
      <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5>Voters</h5>
      </a>
      <a href="/admin/moderator">
        <h5>Moderators</h5>
      </a>
      <a href="/admin/party">
        <h5 class="active">Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="/admin/result">
        <h5>Result</h5>
      </a>
      <a href="/admin/vote-log">
        <h5 >Vote Log</h5>
      </a>
      <form action="/logout/admin" method="POST">
        <input type="submit" value="Logout" class="btn btn-lg btn-primary" name="" id="">
      </form>
    </div>
    </div>
    

  </div>
  <div class="col-lg-10 col-md-9 bar content">
    <div>
      <% if(message !== "") { %>
        <div class="message"><p><%- message.value %></div>
      <% } %>
      <div class="view-user-outline">
        <h2 style="color:#007bff"> Party Registration</h2>
        <form name="addParty" action="/admin/party/add-del" enctype="multipart/form-data" method="POST" onsubmit="return validateForm()">
        <div class="form-div">
          <div class="form-object">
            <select name="ward" class="input-box">
              <option value="" disabled selected hidden>Ward Id</option>
              <% wards.forEach(function(ward) { %>
                <option value="<%- ward.ward_id %>"><%- ward.ward_id %></option> 
              <% }) %> 
            </select><br>
          </div>
          <div class="form-object">
            <input class="input-box" type="number" name="pid" placeholder="Party Id">
          </div>
        </div>
        <div class="form-div">
          <div class="form-object">
            <input class="input-box" type="text" name="pname" placeholder="Party Name">
          </div>
          <div class="form-object">
            <input class="input-box" type="number" name="leader" placeholder="Leader Id">
          </div>
        </div>  
          <div class="form-div">
          <div class="form-object">
            <div class="preview">
              <img id="file_preview">
            </div>
          </div>
          <div class="form-object">
            <div class="form-object-item">
              <input type="file" name="logo" id="upload_img" accept="image/*" onchange="showPreview(event);">
            </div>
            <div class="form-object-item">
              <input type="submit" class="btn btn-success" value="ADD PARTY">
            </div>
          </div>
        </div> 
          <input class="input-box" type="hidden" name="meth" value="add">
        </form>
      </div>
    </div>
    
    
    
  </div>
</div>


<script>
  function validateForm() {
    var id = document.forms["addParty"]["pid"].value;
    var pname = document.forms["addParty"]["pname"].value;
    var leader = document.forms["addParty"]["leader"].value;
    var logo = document.forms["addParty"]["logo"].value;
    if(!id) {
      alert ("Please Enter Party Id >>>");
      return false;
    }
    else if(isNullOrBlank(pname)) {
      alert ("Please enter Party name");
      return false;
    }
    else if(!leader) {
      alert ("Please enter Leader id >>>");
      return false;
    } else if(!logo) {
      alert ("Please select logo for you party");
      return false;
    } else {
      return true;
    }
  }
  function isNullOrBlank(str) {
    return (!str || str.length === 0 || !str.trim())
  }
  function showPreview(event) {
		if(event.target.files.length > 0) {
			var src = URL.createObjectURL(event.target.files[0]);
			var preview = document.getElementById("file_preview");
			preview.src = src;
			preview.style.display ="block";
		}
	}
</script>


<%- include("../a-partials/a-footer") -%>