<%- include("../a-partials/a-header") -%>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar" id="sticky-sidebar">
    <div class="sticky-top">
      <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5>Users</h5>
      </a>
      <a href="/admin/moderator">
        <h5>Moderators</h5>
      </a>
      <a href="/admin/party">
        <h5 class="active">Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="/admin/result">
        <h5>Result</h5>
      </a>
      <a href="/login">
        <h5>Logout</h5>
      </a>
    </div>
    </div>
    

  </div>
  <div class="col-lg-10 col-md-9 bar content">
    <div>
      <% if(message !== "") { %>
        <h6><%- message.value %></h6>
      <% } %>
      <form name="addParty" action="/admin/party/add-del" method="POST" onsubmit="return validateForm()">
        <label for="">Ward Id :</label>
        <select name="ward" >
          <% wards.forEach(function(ward) { %>
            <option value="<%- ward.ward_id %>"><%- ward.ward_id %></option> 
          <% }) %> 
        </select><br>
        <label for="">Party id :</label>
        <input type="number" name="pid"><br>
        <label for="">Party Name :</label>
        <input type="text" name="pname"><br>
        <label for="">Leader Id: </label>
        <input type="hidden" name="meth" value="add">
        <input type="number" name="leader" ><br>
        <input type="submit" value="ADD PARTY">

      </form>
    </div>
    
    
    
  </div>
</div>


<script>
  function validateForm() {
    var id = document.forms["addParty"]["pid"].value;
    var pname = document.forms["addParty"]["pname"].value;
    var leader = document.forms["addParty"]["leader"].value;
    if(!id) {
      alert ("Please Enter Party Id >>>");
      return false;
    }
    else if(isNullOrBlank(pname)) {
      alert ("Please enter Party name");
      return false;
    }
    else if(!leader) {
      alert ("Please enter Leader id >>>");
      return false;
    } else {
      return true;
    }
  }
  function isNullOrBlank(str) {
    return (!str || str.length === 0 || !str.trim())
  }
</script>


<%- include("../a-partials/a-footer") -%>