<%- include("../a-partials/a-header") -%>
<link rel="stylesheet" href="/css/admin/viewUser.css">

</head>

<body>

  <div class="row">
    <div class="col-lg-2  col-md-3 sidebar" id="sticky-sidebar">
      <div class="sticky-top">
        <h2>Election Management System</h2>
        <div>
          <a href="/admin">
            <h5>Dashboard</h5>
          </a>
          <a href="/admin/users">
            <h5>Voters</h5>
          </a>
          <a href="/admin/moderator">
            <h5>Moderators</h5>
          </a>
          <a href="/admin/party">
            <h5 class="active">Party</h5>
          </a>
          <a href="/admin/wards">
            <h5>Wards</h5>
          </a>
          <a href="/admin/result">
            <h5>Result</h5>
          </a>
          <a href="/admin/vote-log">
            <h5>Vote Log</h5>
          </a>
          <form action="/logout/admin" method="POST">
            <input type="submit" value="Logout" class="btn btn-lg btn-primary" name="" id="">
          </form>
        </div>
      </div>


    </div>
    <div class="col-lg-10 col-md-9 bar content">
      <% if(message !== "") { %>
      <div class="message">
        <p><%- message.value %>
      </div>
      <% } %>

      <h2 style="color:#007bff">Parties</h2>
      <div class="table-outline">
        <a class="btn btn-success button" href="/admin/add-party">Add Party</a>
        <table class="table table-border" style="text-align: center;">
          <thead>
            <tr class="table-primary">
              <th scope="col">Party Id</th>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Leader Id</th>
              <th scope="col">Ward</th>
              <th scope="col">Delete Party</th>
            </tr>
          </thead>
          <tbody>
            <% parties.forEach(function (party) { %>
            <tr>
              <th style="vertical-align:middle;" scope="row"><%- party.p_id %> </th>
              <td style="vertical-align:middle;"><img
                  src="http://localhost:3000/uploads/<%- JSON.stringify(party.logo).replace(/['"]+/g, '') %>" alt="logo"
                  style="width:40px; height: 40px; margin: 0; border-radius:25%"></td>
              <td style="vertical-align:middle;"><%- party.pname %></td>
              <td style="vertical-align:middle;"><%- party.leader %></td>
              <td style="vertical-align:middle;"><%- party.ward_id %></td>
              <td style="vertical-align:middle;">
                <form action="/admin/party/add-del" method="POST">
                  <input type="hidden" name="meth" value="delete">
                  <input type="hidden" name="p_id" value="<%- party.p_id %>">
                  <input type="submit" class="btn btn-outline-danger" value="Delete Party">
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <%- include("../a-partials/a-footer") -%>