<%- include("../a-partials/a-header") -%>
<link rel="stylesheet" href="/css/admin/viewUser.css">

</head>
<body>


<div class="row">
    <div class="col-lg-2  col-md-3 sidebar">
      <div class="sticky-top">
        <h2>Election Management System</h2>
      <div>
        <a href="/admin">
          <h5>Dashboard</h5>
        </a>
        
        <a href="/admin/users">
          <h5>Users</h5>
        </a>
        <a href="/admin/moderator">
          <h5>Moderators</h5>
        </a>
        <a href="/admin/party">
          <h5>Party</h5>
        </a>
        <a href="/admin/wards">
          <h5 class="active">Wards</h5>
        </a>
        <a href="/admin/result">
          <h5>Result</h5>
        </a>
        <a href="/admin/vote-log">
          <h5 >Vote Log</h5>
        </a>
        <form action="/logout/admin" method="POST">
          <input type="submit" value="Logout" class="btn btn-lg btn-primary" name="" id="">
        </form>
      </div>
  
      </div>
      
    </div>
    <div class="col-lg-10 col-md-9 bar content">
        <% if(message !== "") { %>
          <div class="message"><p><%- message.value %></div>
        <% } %> 
      
      <div class="table-outline">
        <div id="addmod">
        <form action="/admin/wards/add-del" method="POST">
          <h4 style=" font-size: 1.8em; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Add Ward</h4>
          <input type="number" name="w_id" placeholder="Ward Id">
          <input type="text" name="wname" placeholder="Ward Name">
          <input type="hidden" name="meth" value="add">
          <input type="submit" class="btn btn-success " value="Add" style="padding:3px; padding-left:1.5em; padding-right: 1.5em;">
        </form>
        </div>  
      <table class="table table-border" style="text-align: center;">
        <thead>
          <tr class="table-primary">
            <th scope="col">Ward id</th>
            <th scope="col">Ward Name</th>
            <th scope="col">Parties</th>
            <th scope="col">Voters</th>
            <th scope="col">Delete Ward</th>            
          </tr>
        </thead>
        <tbody>
          
            <% wards.forEach(function (ward) { %>
               
          <tr >
            <th  style="vertical-align:middle;"scope="row"><%- ward.ward_id %> </th>
            <td style="vertical-align:middle;"><%- ward.ward_name %></td>
            <td style="vertical-align:middle;"><%- ward.parties %></td>
            <td style="vertical-align:middle;"><%- ward.voters %></td>
            <td style="vertical-align:middle;"><form action="/admin/wards/add-del" method="POST">
              <input type="hidden" name="meth" value="delete">
              <input type="hidden" name="ward_id" value="<%- ward.ward_id %>">
              <input type="submit" class="btn btn-outline-danger" value="Delete Ward">      
            </form></td>
          </tr>
          
          <% }) %> 
           
          
        </tbody>
      </table>

      </div>
    </div>
  </div>
  

<%- include("../a-partials/a-footer") -%>




