<%- include("../a-partials/a-header") -%>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar">
    <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5 class="active">Users</h5>
      </a>
      <a href="/admin/party">
        <h5>Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="">
        <h5>Result</h5>
      </a>
      <a href="/login">
        <h5>Logout</h5>
      </a>
    </div>

  </div>
  <div class="col-lg-10 col-md-9 bar content">
    <div>
      <form name="addUser" 
      <% if(voter === "") { %> 
        action="/admin/add-user"
      <% } else { %>
        action="/admin/update-user-D"
      <% } %>
       method="POST" onsubmit="return validateForm()">
        <label for="">Ward number :</label>
        <select name="ward" id="">
          <% wards.forEach(function(ward) { %>
          <option value="<%- ward.ward_id %>"
            <% if(voter != "") { %> 
              <% if(voter.ward_id === ward.ward_id) { %>
              selected
              <% } %>
            <% } %>   
          ><%- ward.ward_id %></option> 
          <% }) %> 
        </select><br>
        <% if(voter === "") { %> 
          <label for="">Voter id :</label>
          <input type="number" name="id"><br>
        <% } else { %>
          <input type="hidden" name="id" value="<%- voter.voter_id %>"> 
          <h6>Voter Id: <%- voter.voter_id %> </h6>
        <% } %> 
        
        <label for="">First name :</label>
        <input type="text" name="fname" 
        <% if(voter != "") { %> 
          value="<%- voter.fname %>"
        <% } %> 
        ><br>
        <label for="">Last name :</label>
        <input type="text" name="lname"
        <% if(voter != "") { %> 
          value="<%- voter.lname %>"
        <% } %> 
        ><br>
        <label>age</label>
        <input type="number" name="age"
        <% if(voter != "") { %> 
          value="<%- voter.age %>"
        <% } %> 
        ><br>
        <label for="">gender :</label>
        <select name="gender">
          <option value="male"
          <% if(voter != "") { %> 
            <% if(voter.gender === "male") { %>
            selected
            <% } %>
          <% } %> 
          >Male</option>
          <option value="female"
          <% if(voter != "") { %> 
            <% if(voter.gender === "female") { %>
            selected
            <% } %>
          <% } %> 
          >Female</option>
          <option value="others"
          <% if(voter != "") { %> 
            <% if(voter.gender === "others") { %>
            selected
            <% } %>
          <% } %> 
          >Others</option>
        </select><br>
        <label for="">Address :</label>
        <input type="text" name="address"
        <% if(voter != "") { %> 
          value="<%- voter.address %>"
        <% } %> 
        ><br>
        <label>Phone no :</label>
        <input type="number" name="phno"
        <% if(voter != "") { %> 
          value="<%- voter.phone %>"
        <% } %> 
        ><br>
        <input type="submit" 
        <% if(voter != "") { %> 
          value="Update"
        <% } else { %>
          value="Add Voter"
        <% } %>  
        >

      </form>
    </div>
    
    
    
  </div>
</div>


<script>
  function validateForm() {
    var id = document.forms["addUser"]["id"].value;
    var phone = document.forms["addUser"]["phno"].value.toString();
    var fname = document.forms["addUser"]["fname"].value;
    var lname = document.forms["addUser"]["lname"].value;
    var age = document.forms["addUser"]["age"].value;
    if(!id) {
      alert ("Enter your id.....");
      return false;
    }
    else if(isNullOrBlank(fname) || isNullOrBlank(lname)) {
      alert ("Please enter your name");
      return false;
    }
    else if( age < 18) {
      alert ("Your age is less than 18, You are eligible to vote");
      return false;
    }
    else if( phone.length !== 10) {
      alert("please enter your correct phone number");
      return false;
    } else {
      return true;
    }
  }
  function isNullOrBlank(str) {
    return (!str || str.length === 0 || !str.trim())
  }
</script>


<%- include("../a-partials/a-footer") -%>