<%- include("../a-partials/a-header") -%>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar">
    <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5 class="active">Users</h5>
      </a>
      <a href="/admin/party">
        <h5>Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="">
        <h5>Result</h5>
      </a>
      <a href="/login">
        <h5>Logout</h5>
      </a>
    </div>

  </div>
  <div class="col-lg-10 col-md-9 bar content">
    <a href="/admin/add-user" class="btn btn-success">ADD VOTER</a>
    <table class="table" style="text-align: center;">
      <thead>
        <tr class="table-primary">
          <th scope="col">Voter id</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Ward id</th>
          <th scope="col">View user</th>            
        </tr>
      </thead>
      <tbody>
        <% voters.forEach(function (voter) { %> 
        <tr>
          <th scope="row"><%- voter.voter_id %> </th>
          <td><%- voter.fname %> <%- voter.lname %> </td>
          <td><%- voter.age %> </td>
          <td><%- voter.ward_id %> </td>
          <td><a href="/admin/users/<%- voter.voter_id %>" style="color:blueviolet">view user</a></td>
        </tr>
      <% }) %> 
      </tbody>
    </div>
  </div>
</div>



<%- include("../a-partials/a-footer") -%>