<%- include("../a-partials/a-header") -%>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar" id="sticky-sidebar">
    <div class="sticky-top">
      <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5 >Users</h5>
      </a>
      <a href="/admin/moderator">
        <h5  class="active">Moderators</h5>
      </a>
      <a href="/admin/party">
        <h5>Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="/admin/result">
        <h5>Result</h5>
      </a>
      <a href="/login">
        <h5>Logout</h5>
      </a>
    </div>
    </div>
  </div>
                                   
  <div class="col-lg-10 col-md-9 bar content" id="main">
    <% if(message !== "") { %>
      <p><%- message.value %><br>
    <% } %> 
    
    <div id="addmod">
      <form action="/admin/add-mod" method="POST">
        <label for="">Moderator Id: </label>
        <input type="number" name="mod_id">
        <label for="">Voter Id: </label>
        <input type="number" name="voter_id">
        <input type="submit" class="btn btn-success">
      </form>
    </div>
    <table class="table" style="text-align: center;">
      <thead>
        <tr class="table-primary">
          <th scope="col">Moderator Id</th>
          <th scope="col">Name</th>
          <th scope="col">Voter Id</th>
          <th scope="col">View Moderator</th>            
        </tr>
      </thead>
      <tbody>
        <% moderator.forEach(function (mod) { %> 
        <tr>
          <th scope="row"><%- mod.m_id %> </th>
          <td><%- mod.fname %> <%- mod.lname %> </td>
          <td><%- mod.voter_id %> </td>
          <td><a href="/admin/users/<%- mod.voter_id %>" style="color:blueviolet">view moderator</a></td>
        </tr>
      <% }) %> 
      </tbody>
    </table>
  </div>
</div>



<%- include("../a-partials/a-footer") -%>