<%- include("../a-partials/a-header") -%>


<div class="row">
  <div class="col-lg-2  col-md-3 sidebar" id="sticky-sidebar">
    <div class="sticky-top">
      <h2>Election Management System</h2>
    <div>
      <a href="/admin">
        <h5>Dashboard</h5>
      </a>
      <a href="/admin/users">
        <h5 >Users</h5>
      </a>
      <a href="/admin/moderator">
        <h5  class="active">Moderators</h5>
      </a>
      <a href="/admin/party">
        <h5>Party</h5>
      </a>
      <a href="/admin/wards">
        <h5>Wards</h5>
      </a>
      <a href="/admin/result">
        <h5>Result</h5>
      </a>
      <a href="/login">
        <h5>Logout</h5>
      </a>
    </div>
    </div>
  </div>
                                   
  <div class="col-lg-10 col-md-9 bar content" id="main">
    <% if(message !== "") { %>
      <p><%- message.value %><br>
    <% } %> 
    
    <div id="addmod">
      <form action="/admin/add-mod" method="POST" name="add_mod" onsubmit="return validateForm()">
        <label for="">Moderator Id: </label>
        <input type="number" name="mod_id">
        <label for="">Voter Id: </label>
        <input type="number" name="voter_id">
        <input type="submit" class="btn btn-success">
      </form>
    </div>
    <table class="table" style="text-align: center;">
      <thead>
        <tr class="table-primary">
          <th scope="col">Moderator Id</th>
          <th scope="col">Name</th>
          <th scope="col">Voter Id</th>
          <th scope="col">View Moderator</th>
          <th scope="col">Delete Moderator</th>            
        </tr>
      </thead>
      <tbody>
        <% moderator.forEach(function (mod) { %> 
        <tr>
          <th scope="row"><%- mod.m_id %> </th>
          <td><%- mod.fname %> <%- mod.lname %> </td>
          <td><%- mod.voter_id %> </td>
          <td><a href="/admin/users/<%- mod.voter_id %>" style="color:blueviolet">view moderator</a></td>
          <td><form action="/admin/moderator/delete" method="POST">
            <input type="hidden" name="mod_id" value="<%- mod.m_id %>">
            <input type="submit" class="btn btn-outline-danger" value="Delete Moderator">      
          </form></td>
        </tr>
      <% }) %> 
      </tbody>
    </table>
  </div>
</div>

<script>
  function validateForm() {
    var mod_id = document.forms["add_mod"]["mod_id"].value;
    var voter_id = document.forms["add_mod"]["voter_id"].value;
    if(!mod_id || !voter_id) {
      alert ("Fields cannot be empty....");
      return false;
    } else {
      return true;
    }
  }
  function isNullOrBlank(str) {
    return (!str || str.length === 0 || !str.trim())
  }
</script>


<%- include("../a-partials/a-footer") -%>